body {
  background-image: url('images/bsmch.jpg');
  background-size: cover;  
  background-position: center;  
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  text-align: center;
  color: white;
}

h1 {
  color: darkblue;
  font-size: 3em;
  margin-bottom: 10px;
}

h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.images-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

img {
  max-width: 200px;
  height: auto;
  object-fit: contain;
  display: block;
  margin: 10px auto;
}

a {
  color: #00f;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px 20px;
  background-color: #007bff;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

a:hover {
  color: white;
  background-color: #0056b3;
  text-decoration: none;
}

/* עיצוב כפתור רמז */
button {
    background-color: #4CAF50; /* צבע רקע ירוק */
    color: white; /* צבע טקסט לבן */
    padding: 10px 20px; /* רווחים פנימיים */
    font-size: 16px; /* גודל גופן */
    border: none; /* מסיר את הקו סביב הכפתור */
    border-radius: 5px; /* פינות מעוגלות */
    cursor: pointer; /* מצביע יד בעת ריחוף */
    margin-top: 20px;
}

button:hover {
    background-color: #45a049; /* צבע רקע משתנה כאשר מעבירים את העכבר */
}
